{% load admin_static %}<!DOCTYPE html>
<html lang="en">
  <body>
    {% block includes %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'elfinder/jquery/jquery-ui-1.12.0.css' %}" />
    <script type="application/javascript" src="{% static 'elfinder/jquery/jquery-1.12.4.js' %}" ></script>
    <script type="application/javascript" src="{% static 'elfinder/jquery/jquery-ui-1.12.0.js' %}"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="{% static "elfinder/css/common.css" %}">
    <link rel="stylesheet" href="{% static "elfinder/css/common.css" %}"      type="text/css" media="screen">
	<link rel="stylesheet" href="{% static "elfinder/css/dialog.css" %}"      type="text/css" media="screen">
	<link rel="stylesheet" href="{% static "elfinder/css/toolbar.css" %}"     type="text/css" media="screen">
	<link rel="stylesheet" href="{% static "elfinder/css/navbar.css" %}"      type="text/css" media="screen">
	<link rel="stylesheet" href="{% static "elfinder/css/statusbar.css" %}"   type="text/css" media="screen">
	<link rel="stylesheet" href="{% static "elfinder/css/contextmenu.css" %}" type="text/css" media="screen">
	<link rel="stylesheet" href="{% static "elfinder/css/cwd.css" %}"         type="text/css" media="screen">
	<link rel="stylesheet" href="{% static "elfinder/css/quicklook.css" %}"   type="text/css" media="screen">
	<link rel="stylesheet" href="{% static "elfinder/css/commands.css" %}"    type="text/css" media="screen">
    <link rel="stylesheet" href="{% static "elfinder/css/toast.css" %}"    type="text/css" media="screen">

	<link rel="stylesheet" href="{% static "elfinder/css/theme.css" %}"       type="text/css" media="screen">

    <script src="{% static "elfinder/js.cookie-2.2.0.min.js" %}" type="application/javascript"></script>

	<!-- elfinder core -->
	<script src="{% static "elfinder/js/elFinder.js" %}"           type="application/javascript"></script>
	<script src="{% static "elfinder/js/elFinder.version.js" %}"   type="application/javascript"></script>
	<script src="{% static "elfinder/js/jquery.elfinder.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/elFinder.resources.js" %}" type="application/javascript"></script>
	<script src="{% static "elfinder/js/elFinder.options.js" %}"   type="application/javascript"></script>
	<script src="{% static "elfinder/js/elFinder.history.js" %}"   type="application/javascript"></script>
	<script src="{% static "elfinder/js/elFinder.command.js" %}"   type="application/javascript"></script>

	<!-- elfinder ui -->
	<script src="{% static "elfinder/js/ui/overlay.js" %}"       type="application/javascript"></script>
	<script src="{% static "elfinder/js/ui/workzone.js" %}"      type="application/javascript"></script>
	<script src="{% static "elfinder/js/ui/navbar.js" %}"        type="application/javascript"></script>
	<script src="{% static "elfinder/js/ui/dialog.js" %}"       type="application/javascript"></script>
	<script src="{% static "elfinder/js/ui/tree.js" %}"        type="application/javascript"></script>
	<script src="{% static "elfinder/js/ui/cwd.js" %}"           type="application/javascript"></script>
	<script src="{% static "elfinder/js/ui/toolbar.js" %}"       type="application/javascript"></script>
	<script src="{% static "elfinder/js/ui/button.js" %}"        type="application/javascript"></script>
	<script src="{% static "elfinder/js/ui/uploadButton.js" %}"  type="application/javascript"></script>
	<script src="{% static "elfinder/js/ui/viewbutton.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/ui/searchbutton.js" %}"  type="application/javascript"></script>
	<script src="{% static "elfinder/js/ui/sortbutton.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/ui/panel.js" %}"         type="application/javascript"></script>
	<script src="{% static "elfinder/js/ui/contextmenu.js" %}"   type="application/javascript"></script>
	<script src="{% static "elfinder/js/ui/path.js" %}"          type="application/javascript"></script>
	<script src="{% static "elfinder/js/ui/stat.js" %}"          type="application/javascript"></script>
	<script src="{% static "elfinder/js/ui/places.js" %}"        type="application/javascript"></script>
	<script src="{% static "elfinder/js/ui/toast.js" %}"        type="application/javascript"></script>

	<!-- elfinder commands -->
	<script src="{% static "elfinder/js/commands/back.js" %}"      type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/forward.js" %}"   type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/reload.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/up.js" %}"        type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/home.js" %}"      type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/copy.js" %}"      type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/cut.js" %}"       type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/paste.js" %}"     type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/open.js" %}"      type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/rm.js" %}"       type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/info.js" %}"      type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/duplicate.js" %}" type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/rename.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/help.js" %}"      type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/getfile.js" %}"   type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/mkdir.js" %}"     type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/mkfile.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/upload.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/download.js" %}"  type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/edit.js" %}"      type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/quicklook.js" %}" type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/quicklook.plugins.js" %}" type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/extract.js" %}"   type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/archive.js" %}"   type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/search.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/view.js" %}"      type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/resize.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/sort.js" %}"      type="application/javascript"></script>
	<script src="{% static "elfinder/js/commands/netmount.js" %}"      type="application/javascript"></script>

	<!-- elfinder languages -->
	<script src="{% static "elfinder/js/i18n/elfinder.ar.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.bg.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.ca.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.cs.js" %}"   type="application/javascript"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.de.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.en.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.es.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.fr.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.hu.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.jp.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.nl.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.pl.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.pt_BR.js" %}" type="application/javascript"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.ru.js" %}"    type="application/javascript"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.zh_CN.js" %}" type="application/javascript"></script>

	<!-- elfinder dialog -->
	<script src="{% static "elfinder/js/jquery.dialogelfinder.js" %}"     type="application/javascript"></script>

	<!-- elfinder 1.x connector API support -->
	<script src="{% static "elfinder/js/proxy/elFinderSupportVer1.js" %}" type="application/javascript"></script>

	<!-- elfinder custom extenstions -->
	{# <script src="{% static "elfinder/extensions/jplayer/elfinder.quicklook.jplayer.js" type="application/javascript"></script> #}

    {% endblock includes %}

    {% block elfinder_init %}
    <script type="application/javascript">
        $().ready(function() {
            elfinderOpts = jQuery.extend({
                url : '{% if coll_id %}{% url "elfinder_connector" coll_id %}{% else %}{% url "elfinder_connector" %}{% endif %}',
                places : 'h',
                rememberLastDir : false,
                placesFirst : false,
                requestType: 'post',
                customData : { csrfmiddlewaretoken : Cookies.get('csrftoken'),  },
                uiOptions : { toolbar : [
                                ['back', 'forward'],
                                ['download', 'mkdir', 'mkfile', 'upload'],
                                ['copy', 'cut', 'paste'],
                                ['rm'],
                                ['rename'],
                                ['view'],
                             ]
                            },
                contextmenu : { navbar : ['open', '|', 'copy', 'cut', 'paste', '|',
                                          'rm'],
                                cwd : ['reload', 'back', '|',
                                       'mkdir', 'mkfile', 'paste', '|',
                                       'upload'],
                                files : ['edit', 'open', '|',
                                         'copy', 'cut', 'paste', '|',
                                         'rm', 'rename'],
                              }
            }, window['elfinderExtraOpts'] || {});

            var elf = $('#elfinder').elfinder(elfinderOpts).elfinder('instance');
        });
    </script>
    {% endblock elfinder_init %}

    {% block elfinder_div %}
    <div id="elfinder"></div>
    {% endblock elfinder_div %}
  </body>
</html>
